autopep8==2.0.4
bcrypt==4.1.2
bidict==0.22.1
blinker==1.7.0
cachelib==0.10.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
dnspython==2.5.0
email-validator==2.1.0.post1
eventlet==0.35.1
exceptiongroup==1.2.0
Flask==3.0.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Session==0.6.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.4
mccabe==0.7.0
mdurl==0.1.2
packaging==23.2
pluggy==1.4.0
pyflakes==3.2.0
Pygments==2.17.2
pytest==7.4.4
python-engineio==4.8.2
python-socketio==5.11.0
rich==13.7.0
simple-websocket==1.0.0
SQLAlchemy==2.0.25
tinydb==4.8.0
tomli==2.0.1
typer==0.9.0
typing_extensions==4.9.0
Werkzeug==3.0.1
wsproto==1.2.0
WTForms==3.1.2
zipp==3.17.0
