<!-- blackjack tutorial -> https://www.youtube.com/watch?v=bMYCWccL-3U -->

<!--<!DOCTYPE html>-->
<!--<html>-->
<head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackjack/game_container_class.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackjack/player_class.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackjack/dealer_class.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div id="game-container" class="container game-container">

        <div id="dealer-container" class="row dealer-container">
            <div id="dealer" class="col dealer">
                <h2>Dealer: <span id="dealer-sum"></span></h2>
                <div id="dealer-cards"></div>
            </div>
        </div>

        <div id="player-container" class="row player-container"></div>

        <div id="socket-button-testing-container" class="row"></div>
    </div>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
            integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/blackjack.js') }}"></script>
{% endblock content %}