<!-- blackjack tutorial -> https://www.youtube.com/watch?v=bMYCWccL-3U -->

<!--<!DOCTYPE html>-->
<!--<html>-->
<head>
    <title>Black Jack</title>
    {#<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blackjack.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blackjack/playerclass.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div id="game-container" class="col-md-8 offset-md-2">

        <div id="dealer-container">
            <h2>Dealer: <span id="dealer-sum">{{ dealer_sum }}</span></h2>
            <div id="dealer-cards"></div>
        </div>

        <div id="player-container"></div>

        <br>
        <br>

        <!-- Buttons for pressing -->
        <button onclick="pressSocketTestingButtons(1)">Press Button 1</button>
        <button onclick="pressSocketTestingButtons(2)">Press Button 2</button>
        <button onclick="refresh_data()">Refresh Data</button>
        <p>Button 1 Presses: <span id="button1-count">{{ button1_count }}</span></p>
        <p>Button 2 Presses: <span id="button2-count">{{ button2_count }}</span></p>
        <p> Welcome {{ player_name }}! </p>
    </div>

    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
            integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/blackjack.js') }}"></script>
{% endblock content %}