{% extends "layout.html" %}
{% block content %}
    <div class="content-section d-flex flex-column align-items-center justify-content-center text-center vh-30">
        {% if name %}
            <h3 class="text-primary let_space">Hello {{ name }}, How was your day!!</h3>
        {% endif %}

        <p>Welcome to our demo web page!</p>
        <p>We hope you enjoy your stay.</p>
        <p>Follow the link for a relaxing game of Blackjack!</p>

        <div class="mt-auto mb-3"> <!-- Bottom margin for spacing -->
            <a class="btn btn-outline-info" href="{{ url_for('blackjack.blackjack') }}">Play now!</a>
        </div>
    </div>
{% endblock content %}