<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Override remaining CSS with local -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">

    <title>Nate-Lor</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/poker.svg') }}">
</head>
<body>
<header class="site-header">
    {# Todo: nav links don't show up if page is compressed and they collapse #}
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <!-- Navbar Logo Button -->
            <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">Nate-Lor Games</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Left Side -->
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('blackjack.blackjack') }}">BlackJack</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="{{ url_for('main.login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('main.register') }}">Register</a>
                </div>
            </div>
        </div>
    </nav>
</header>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container">
    {% block content %}
        {# layout.html will wrap this. In other words, {% block content %} is inserted here #}
    {% endblock %}
</div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>