html,
body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Rubik';
    letter-spacing: 3px;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    height: 100px;
    width: 50px;
    margin: 20px;
}

#stay {
    height: 100px;
    width: 50px;
    margin: 20px;
}