/* styles.css */
.dealer-container{
    padding-top: 10px;
}

.dealer {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    font-family: 'Arial, sans-serif';
    max-width: 600px;
}

.dealer-header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.dealer-name {
    font-weight: bold;
}

.dealer-sum, .dealer-coins {
    font-size: 1.2em;
}
