<!-- blackjack tutorial -> https://www.youtube.com/watch?v=bMYCWccL-3U -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/black_jack.css">
    <title>Black Jack</title>
    <script src="../js/black_jack.js"></script>
</head>

<body>
    <h2>Dealer: <span id="dealer-sum"></span></h2>
    <div id="dealer-cards">
        <img src="{{ url_for('static', filename='cards2/BACK.png') }}" alt="dealer card">
    </div>

    <h2>You: <span id="your-sum"></span></h2>
    <div id="your-cards">
        {% if hit %}
        <img src="{{ url_for('static', filename='cards2/BACK.png') }}" alt="dealer card">
        {% endif %}
    </div>

    <br>
    <form method="post" action="/player_choice">
        <button type="submit" id='hit' name="hit" value="Hit">Hit</button>
        <button type="submit" id='stay' name="stay" value="Stay">Stay</button>
    </form>


    <p id="results">
    <p> Welcome {{player_name}}! </p>
</body>

</html>