<!-- blackjack tutorial -> https://www.youtube.com/watch?v=bMYCWccL-3U -->
<!--Trying to overwrite default template, this seems close: https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles-->

<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" type="text/css" href="/static/css/blackjack.css">-->
<!--    <title>Black Jack</title>-->
<!--    <script type="text/javascript" src="/static/blackjack.js"></script>-->
<!--</head>-->

{% extends "layout.html" %}
{% block cards %}
<title>Black Jack</title>
<div class="col-md-8 offset-md-2">
<h2>Dealer: <span id="dealer-sum">{{ dealer_sum }}</span></h2>
    <div id="dealer-cards">
        <img id="hidden" src="{{ url_for('static', filename='images/playing_cards/BACK.png') }}"
             alt="dealer card"
             width="125"
             height="182">
        {% for cards in dealer_cards %}
            <img class="" src="{{ url_for('static', filename='images/playing_cards/'+cards.rank+'-'+cards.suit+'.png') }}"
                 alt="dealer card"
                 width="125"
                 height="182">
        {% endfor %}
    </div>

    <h2>You: <span id="your-sum">{{ your_sum }}</span>

        {% if your_sum > 21 %}
            <b>{% print('You Bust!') %}</b>
        {% endif %}

    </h2>
    <div id="your-cards">
        {% for cards in your_cards %}
            <img class="" src="{{ url_for('static', filename='images/playing_cards/'+cards.rank+'-'+cards.suit+'.png') }}"
                 alt="player card"
                 width="125"
                 height="182">
        {% endfor %}
    </div>

    <br>

    <form method="post" action="{{ url_for('blackjack.buttons') }}">
        <button type="submit" id='hit' name="button_pressed" value="Hit">Hit</button>
        <button type="submit" id='stay' name="button_pressed" value="Stay" {% if your_sum > 21 %} disabled {% endif %}>Stay</button>
        <button type="submit" id='new_game' name="button_pressed" value="New Game">New Game</button>
    </form>

    <br>

<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<!-- Buttons for pressing -->
<button onclick="pressButton(1)">Press Button 1</button>
<button onclick="pressButton(2)">Press Button 2</button>
<p>Button 1 Presses: <span id="button1-count">{{ button1_count }}</span></p>
<p>Button 2 Presses: <span id="button2-count">{{ button2_count }}</span></p>

<script>
    var socket = io();

    // Log when the client is connected
    socket.on('connect', function() {
        console.log('Connected to server');
    });

    // Log all incoming events
    socket.onAny((event, ...args) => {
        console.log(event, args);
    });

    // Function to press a button
    function pressButton(buttonNumber) {
        var buttonEvent = (buttonNumber === 1) ? 'press_button_1' : 'press_button_2';

        socket.emit(buttonEvent, { 'buttonEvent': buttonEvent, 'buttonNumber': buttonNumber });
    };

    socket.on('update_button_counts', function(data) {
        // Handle button count updates for the selected game
        document.getElementById('button1-count').innerText = data.counts.button1;
        document.getElementById('button2-count').innerText = data.counts.button2;
        console.log(data.counts);
    });

    socket.connect();
</script>


    <p id="results">
    <p> Welcome {{player_name}}! </p>
</div>
{% endblock cards %}