<!-- blackjack tutorial -> https://www.youtube.com/watch?v=bMYCWccL-3U -->
<!--Trying to overwrite default template, this seems close: https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles-->

<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" type="text/css" href="/static/css/black_jack.css">-->
<!--    <title>Black Jack</title>-->
<!--    <script type="text/javascript" src="/static/black_jack.js"></script>-->
<!--</head>-->

{% extends "layout.html" %}
{% block cards %}
<title>Black Jack</title>
<div class="col-md-8 offset-md-2">
<h2>Dealer: <span id="dealer-sum">{{ dealer_sum }}</span></h2>
    <div id="dealer-cards">
        <img id="hidden" src="{{ url_for('static', filename='images/playing_cards/BACK.png') }}"
             alt="dealer card"
             width="125"
             height="182">
        {% for cards in dealer_cards %}
            <img class="" src="{{ url_for('static', filename='images/playing_cards/'+cards.rank+'-'+cards.suit+'.png') }}"
                 alt="dealer card"
                 width="125"
                 height="182">
        {% endfor %}
    </div>

    <h2>You: <span id="your-sum">{{ your_sum }}</span>

        {% if your_sum > 21 %}
            <b>{% print('You Bust!') %}</b>
        {% endif %}

    </h2>
    <div id="your-cards">
        {% for cards in your_cards %}
            <img class="" src="{{ url_for('static', filename='images/playing_cards/'+cards.rank+'-'+cards.suit+'.png') }}"
                 alt="player card"
                 width="125"
                 height="182">
        {% endfor %}
    </div>

    <br>

    <form method="post" action="{{ url_for('black_jack.buttons') }}">
        <button type="submit" id='hit' name="button_pressed" value="Hit">Hit</button>
        <button type="submit" id='stay' name="button_pressed" value="Stay" {% if your_sum > 21 %} disabled {% endif %}>Stay</button>
        <button type="submit" id='new_game' name="button_pressed" value="New Game">New Game</button>
    </form>

    <br>

<br>

<!-- Buttons for pressing -->
<button onclick="pressButton(1)">Press Button 1</button>
<button onclick="pressButton(2)">Press Button 2</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // Function to press a button
    function pressButton(buttonNumber) {
        var game_id = prompt("Enter the game ID to press the button:");
        var player_name = prompt("Enter your name:");
        var buttonEvent = (buttonNumber === 1) ? 'press_button_1' : 'press_button_2';

        socket.emit(buttonEvent, { 'player_name': player_name, 'game_id': game_id });
    }

    socket.on('update_button_counts', function(data) {
        // Handle button count updates for the selected game
        if (data.game_id) {
            console.log(data.counts);
        }
    });
</script>


    <p id="results">
    <p> Welcome {{player_name}}! </p>
</div>
{% endblock cards %}