<!-- blackjack tutorial -> https://www.youtube.com/watch?v=bMYCWccL-3U -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/black_jack.css">
    <title>Black Jack</title>
    <script type="text/javascript" src="/static/black_jack.js"></script>
</head>

<body>
<h2>Dealer: <span id="dealer-sum">{{ dealer_sum }}</span></h2>
    <div id="dealer-cards">
        <img id="hidden" src="{{ url_for('static', filename='images/playing_cards/BACK.png') }}" alt="dealer card">
    </div>

    <h2>You: <span id="your-sum"></span></h2>
    <div id="your-cards">

        {% for cards in your_cards %}
            <img src="{{ url_for('static', filename='images/playing_cards/'+cards.rank+'-'+cards.suit+'.png') }}" alt="dealer card">
        {% endfor %}

        {% for cards in test_cards %}
            <img src="{{ url_for('static', filename='images/playing_cards/'+cards.rank+'-'+cards.suit+'.png') }}" alt="dealer card">
        {% endfor %}
    </div>

    <br>

    <form method="post" action="{{ url_for('black_jack.buttons') }}">
        <button type="submit" id='hit' name="button_pressed" value="Hit">Hit</button>
        <button type="submit" id='stay' name="button_pressed" value="Stay">Stay</button>
    </form>


    <p id="results">
    <p> Welcome {{player_name}}! </p>

</body>

</html>