<!--{% extends "layout.html" %}-->
<!--{% block content %}-->
<form class="grid" action="/result" method="POST">

  {% if name %}

      <h3 style="color: blue;" class="let_space">Hello {{name}}, How was your day!!</h3>

  {% endif %}

  <label for="name">Enter your name:</label>
  <input type="text" id="name" name="name">

  <center><input class="file_submit" type="Submit"></center>

</form>
<form action="/join_game" method="post">
        <h1>Join Game</h1>
        <label for="ip_address">IP Address:</label>
        <input type="text" id="ip_address" name="ip_address"><br><br>
        <label for="port">Port:</label>
        <input type="text" id="port" name="port"><br><br>
        <input type="submit" value="Join">
</form>
<!--{% endblock content %}-->